
ul{
    display: flex;
    justify-content: space-around;
}

.link{
    list-style: none;
    text-decoration: none;
    margin: 10px;
}
h1{
    text-align: center;
}

button{
 background-color: lightblue;
    width: 10vh;
    height: 5vh;
    border: none;
    border-radius: 2vh;
    font-size: 1vw;
}
body{

    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 5vh;
    margin-bottom: 2vh;
   
}